body {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  background-color: lightblue;
  margin: 17px 17px 17px 17px;
}

sports {
  background-color: darkblue;
  float: center;
}

button {
  font-size: 24px;
  margin: 10px;
  border-radius: 10px;
}

#search {
  font-size: 17px;
  margin: 17px;
  border-radius: 17px;
  float: center;
}

#sport-list {
  float: center;
}

#get-giftastic {
  color: white;
  border: 15px solid white;
  background-color: purple;
  float: center;
}
topics {
  background-color: darkblue;
}
